<%- include('parts/top.ejs')%>

<div style="margin-top: 100px;" class="tm-container-inner-2 tm-contact-section">
    <div class="row">
        <div class="col-md-6">
            <form action="/login" method="POST" class="tm-contact-form">
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Email" required/>
                </div>
                
                <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="********" required />
                </div>

                <div class="form-group tm-d-flex">
                  <button type="submit" class="tm-btn tm-btn-success tm-btn-right">
                    Login
                  </button>
                </div>
                <%if(msg){%>
                  <div style="color:red">
                    <%=msg%>
                    </div>
                  <%}%>
            </form>
        </div>
</div>


<%- include('parts/bottom.ejs')%>



