<div class="tm-paging-links">
    <nav>
        <ul>
            <li class="tm-paging-item"><a href="/home" class="tm-paging-link active">All books</a></li>
            <%if(verifuser){%>
            <li class="tm-paging-item"><a href="/mybooks" class="tm-paging-link">My books</a></li>
            <li class="tm-paging-item"><a href="/neworders" class="tm-paging-link">New orders</a></li>
            <li class="tm-paging-item"><a href="/oldorders" class="tm-paging-link">Old orders</a></li>
            <li class="tm-paging-item"><a href="/addbook" class="tm-paging-link">Add book</a></li>
            <%}%>
        </ul>
    </nav>
</div>