<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AK Book Store</title>  
    <link rel="icon" href="/<%=icon%>">
	<link href="/css/templatemo-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/style.css">
    
</head>
<body>

    <div class="container">
        <!-- Top box -->
            <!-- Logo & Site Name -->
            <div class="placeholder">
                <div class="parallax-window" data-parallax="scroll" data-image-src="/img/simple-house-01.jpg">
                    <div class="tm-header">
                        <div class="row tm-header-inner">
                            <div class="col-md-6 col-12">
                                <img src="/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" /> 
                                <div class="tm-site-text-box">
                                    <h1 class="tm-site-title"><%=storename%></h1>
                                    <h6 class="tm-site-description"><%=understorename%></h6>	
                                </div>
                            </div>
                            <nav class="col-md-6 col-12 tm-nav">
                                <ul class="tm-nav-ul">
                                    <li class="tm-nav-li"><a href="/home" class="tm-nav-link active">Home</a></li>
                                    <li class="tm-nav-li"><a href="/about" class="tm-nav-link">About</a></li>
                                    <li class="tm-nav-li"><a href="/contact" class="tm-nav-link">Order Now</a></li>
                                    
                                    
                                    <%if(verifuser){%>
                                    <form action="/logout" method="POST">
                                        <button  style="background-color: transparent;border:none" type="submit">
                                            <li style="color: red;" class="tm-nav-li tm-nav-link">LogOut</li>
                                        </button>
                                    </form>
                                    <%}%>
                                </ul>
                            </nav>	
                        </div>
                    </div>
                </div>
            </div>